In [5]:
import pandas as pd#import pandas
pd.show_versions()#print version

INSTALLED VERSIONS
------------------
commit           : f2ca0a2665b2d169c97de87b8e778dbed86aea07
python           : 3.7.9.final.0
python-bits      : 32
OS               : Windows
OS-release       : 7
Version          : 6.1.7601
machine          : x86
processor        : x86 Family 6 Model 42 Stepping 7, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.1.1
numpy            : 1.19.1
pytz             : 2020.1
dateutil         : 2.8.1
pip              : 20.2.2
setuptools       : 49.6.0.post20200814
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.2
IPython          : 7.18.1
pandas_datareader: None
bs4              : None
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.1
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
pyxlsb           : None
s3fs             : None
scipy            : 1.5.2
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

In [6]:
animal_list=['tiger','lion','dog','cat']#Series from a list
my_series=pd.Series(animal_list)
print(my_series)

0    tiger
1     lion
2      dog
3      cat
dtype: object

In [7]:
import numpy as np#Series from a numpy array
data=np.array(['a','b','c','d'])
my_series=pd.Series(data)
print(my_series)

0    a
1    b
2    c
3    d
dtype: object

In [8]:
dict = {'A' : 10, 'B' : 20, 'C' : 30}#Series from a dictionary
my_series = pd.Series(dict) 
print(my_series)

A    10
B    20
C    30
dtype: int64

In [9]:
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], #
				'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
		    	'Marks In Percentage': [97, 90, 70, 82], 
				'Grade': ['A', 'A', 'C', 'B'], 
				'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
 
df

  Roll Number     Name  Marks In Percentage Grade  Subject
0     20CSE29   Amelia                   97     A  Physics
1     20CSE49      Sam                   90     A  Physics
2     20CSE36     Dean                   70     C  Physics
3     20CSE44  Jessica                   82     B  Physics

In [10]:
a= pd.Series(["a", "b", "c"])#merge series to form a dataframe
b = pd.Series([1, 2, 3])
df = pd.concat([a,b],axis=1)
print(df)

   0  1
0  a  1
1  b  2
2  c  3

In [11]:
a=pd.Series([4, 9, 16, 25, 36, 49]) #nmae to series
index=['2', '3', '4', '5', '6', '7'] 
a.index=index
print(a)

2     4
3     9
4    16
5    25
6    36
7    49
dtype: int64

In [12]:
a=pd.Series([1, 2, 3, 4, 5])#print items in a not in b
b=pd.Series([2, 4, 6, 8, 10])
print("Items in a not present in b:")
result =a[~a.isin(b)]
print(result)

Items in a not present in b:
0    1
2    3
4    5
dtype: int64

In [13]:
import numpy as np#print items not common to both a and b
a=pd.Series([1, 2, 3, 4, 5])
b=pd.Series([2, 4, 6, 8, 10])
print("Items not common to both a and b:")
a1=pd.Series(np.union1d(a,b))
b1=pd.Series(np.intersect1d(a,b))
result=a1[~a1.isin(b1)]
print(result)

Items not common to both a and b:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [14]:
num_series = pd.Series([20,40,60,80])
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("Minimum, 25th percentile, median, 75th, and maximum of num_series:")
print(result)

Minimum, 25th percentile, median, 75th, and maximum of num_series:
[20. 35. 50. 65. 80.]

In [15]:
p=pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Chicago', 'Lisbon'])#print frequency count
p.value_counts()

Lisbon      2
Chicago     2
Toronto     1
Rio         1
New York    1
dtype: int64

In [17]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)
ser.value_counts()
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0     2
1     3
2     1
3     3
4     4
5     4
6     1
7     1
8     2
9     4
10    3
11    1
dtype: int32

0     Other
1     Other
2         1
3     Other
4         4
5         4
6         1
7         1
8     Other
9         4
10    Other
11        1
dtype: object